<!doctype html>
<html lang="en">
  <header>
    <meta charset="utf-8">
    <title>Stock Quote</title>
    <link rel="stylesheet" type="text/css" href="/reset.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
  </header>
  <body>
    <%= yield %>
  </body>
</html>