<!doctype html>
<html lang="en">
  <header>
    <meta charset="utf-8">
    <title>Movie Finder</title>
    <link rel="stylesheet" type="text/css" href="/reset.css">
    <link rel="stylesheet" type="text/css" href="/style.css">

  </header>
  <body>
    <h1>Movie Finder</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/movies">Movies</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>