<form action="/create" method="post">
<h3>Add A New Task</h3>
  <input type="text" name="task_to_add">
<h3>Add A Due Date</h3>
  <input type="text" name="due_date">
  <br/><button>Add</button>
</form>